/**
 * @file navbar.theme.css
 */
#navbar-administration {
  font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
  /* Set base font size to 13px based on root ems. */
  font-size: 0.8125rem;
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -o-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
  -moz-touch-callout: none;
  -o-touch-callout: none;
  -webkit-touch-callout: none;
  touch-callout: none;
}
#navbar-administration .navbar-tab > *,
#navbar-administration .navbar-menu-item,
/* On behalf of shortcut module */
#navbar-administration .navbar-tray .edit-shortcuts {
  padding: 1em 1.3333em;
}
.navbar-box a {
  cursor: pointer;
  text-decoration: none;
}
.navbar-box a:hover {
  text-decoration: underline;
}

/**
 * Navbar bar.
 */
#navbar-administration .navbar-bar {
  background-color: #0f0f0f;
  box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.3333); /* LTR */
  color: #dddddd;
}
#navbar-administration .navbar-tab > * {
  color: #ffffff;
  font-weight: bold;
}
#navbar-administration .navbar-tab > *:hover {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.125) 20%, transparent 200%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.125) 20%, transparent 200%);
  text-decoration: none;
}
#navbar-administration .navbar-tab > *.navbar-active {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
}

/**
 * Navbar tray.
 */
#navbar-administration .navbar-tray {
  background-color: #ffffff;
}
#navbar-administration .navbar-tray-horizontal > .navbar-lining {
  padding-right: 5em; /* LTR */
}
#navbar-administration .navbar-tray-vertical {
  padding-right: 1px; /* LTR */
}
#navbar-administration .navbar-tray-vertical > .navbar-lining:before {
  background-color: #ffffff;
  border-right: 1px solid #aaaaaa; /* LTR */
  box-shadow: -1px 0 5px 2px rgba(0, 0, 0, 0.3333); /* LTR */
  width: 239px;
}
#navbar-administration .navbar-tray-horizontal {
  border-bottom: 1px solid #aaaaaa;
  box-shadow: -2px 1px 3px 1px rgba(0, 0, 0, 0.3333); /* LTR */
}
#navbar-administration .navbar-tray-horizontal .navbar-tray {
  background-color: #f5f5f5;
}
#navbar-administration .navbar-tray a {
  color: #707070;
}
#navbar-administration .navbar-tray a:hover,
#navbar-administration .navbar-tray a:active,
#navbar-administration .navbar-tray a.navbar-active {
  color: #000;
}
#navbar-administration .navbar-tray-horizontal .menu {
  background-color: #ffffff;
}
#navbar-administration .navbar-tray-horizontal .menu li + li {
  border-left: 1px solid #dddddd; /* LTR */
}
#navbar-administration .navbar-tray-horizontal .menu li:last-child {
  border-right: 1px solid #dddddd; /* LTR */
}
#navbar-administration .navbar-tray-vertical .menu li + li {
  border-top: 1px solid #dddddd;
}
#navbar-administration .navbar-tray-vertical .menu li:last-child {
  border-bottom: 1px solid #dddddd;
}
#navbar-administration .navbar-tray-vertical .menu .menu li {
  border: 0 none;
}
#navbar-administration .navbar-tray-vertical .menu ul ul {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
#navbar-administration .navbar-tray-vertical .menu li:last-child > ul {
  border-bottom: 0;
}
#navbar-administration .navbar-tray-vertical .menu .menu .menu {
  margin-left: 1.3333em; /* LTR */
}
#navbar-administration .navbar-tray-vertical .menu .menu .menu .menu {
  margin-left: 0.25em; /* LTR */
}
#navbar-administration .menu .menu a {
  color: #434343;
}
#navbar-administration .navbar-tray-vertical .menu .menu .menu a {
  padding-left: 0.6667em; /* LTR */
}

/**
 * Orientation toggle.
 */
#navbar-administration .navbar-toggle-orientation {
  background-color: #f5f5f5;
  padding: 0.6667em;
}
#navbar-administration .navbar-tray-horizontal .navbar-toggle-orientation {
  border-left: 1px solid #c9c9c9; /* LTR */
}
#navbar-administration .navbar-toggle-orientation > .navbar-lining {
  float: right; /* LTR */
  padding: 0.1667em;
}
#navbar-administration .navbar-toggle-orientation .navbar-toggle {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/**
 * Fix Shortcuts Edit link
 */
#navbar-administration .navbar-tray-horizontal .edit-shortcuts {
  float: left; /* LTR */
}

/**
 * Undo overzealous theme resets.
 */
#navbar-administration *:before,
#navbar-administration *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
