.iw-admin-content-admin #edit-uid {
  width: 19em;
}

/*
.iw-admin-content-admin .form-item-uid .description {
  visibility: collapse;
}
*/

.iw-admin-content-admin .form-submit {
  margin-right: 0px;
}

.iw-admin-content-admin .views-reset-button {
  padding-right: 0px;
}

.iw-admin-content-admin .views-exposed-form {
  border: 1px solid #CCCCCC;
  padding: 0px 13px 0px 13px;
}

.iw-admin-content-admin .views-exposed-widgets {
  
}
